
<script src="scripts/script.js"></script>
<script src="scripts/addUser.js"></script>
<script src="scripts/addManyUser.js"></script>
<script src="scripts/importCsv.js"></script>
<script src="scripts/profilePic.js"></script>
<script src="scripts/login.js"></script>

</body>
</html>